.Navbar {
    height: 110px;
    width: 100vw;
    color: black;
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    position: fixed;
    z-index: 5;
    top: 0%;
    align-items: center;
}

.slideBar {
    height: 100vh;
    background-color: rgb(153, 188, 207);
    width: 28%;
    position: absolute;
    top: 0;
    right: -32%;
    z-index: 8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10vw 1vw;
}

.navSpan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
}

.navlinks {
    text-decoration: none;
    color: black;
    width: 100%;
    background-color: white;
    font-size: 2.5vw;
    transition: .15s linear;
    display: flex;
    justify-content: start;
    padding: 0px 15px;
    align-items: center;
}

.imgAndMenuIcon {
    position: relative;
}

.rotateimgNavbar {
    z-index: 9;
    position: absolute;
    /* background-color: #1aa926; */
    height: 120px;
    width: 135px;
    top: -50px;
    left: -55px;
    padding-right: 15px;
    animation: rotatingimageInNav 3s linear infinite;
}

@keyframes rotatingimageInNav {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(80deg);
    }

    50% {
        transform: rotateZ(160deg);
    }

    75% {
        transform: rotateZ(240deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}


.navlinks:hover {
    background-color: gray;
    color: white;
}

.navlinks i {
    margin-left: 15px;
    font-size: 2vw;
    color: #26be33 !important;
}

.navlinks:hover {
    opacity: .7;
}

.freeDelivery {
    height: 135px;
    width: 190px;
    position: absolute;
    bottom: 5%;
    right: 5%;

}


.logo {
    height: 60px;
    width: 110px;
}

.menuDivs {
    height: 30px;
    z-index: 10;
    width: 30px;
    position: relative;
    /* background-color: aqua; */
    cursor: pointer;
}

.menuDivs h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    background-color: rgb(114, 97, 0);
    width: 70%;
}

.menuDivs h1:nth-child(2) {
    transform: translate(-50%, -9px);
}

.menuDivs h1:nth-child(3) {
    transform: translate(-50%, 6px);
}


@media (max-width:768px) {
    .Navbar {
        padding: 0px 20px;
        /* background-color: red; */
    }

    .rotateimgNavbar {
        height: 100px;
        width: 115px;
        top: -40px;
        left: -45px;
    }

    .slideBar {
        height: 100vh;
        width: 100%;
        display: flex;
        padding: 20vw 2vw;
        justify-content: center;
        align-items: start;
        right: -100%;
    }

    .navSpan {
        padding-top: 100px;
    }

    .navlinks {
        font-size: 8vw;
    }

    .navlinks i {
        margin-left: 15px;
        font-size: 6vw;
        color: #1aa926 !important;
    }

    .freeDelivery {
        height: 100px;
        width: 150px;
        bottom: 15%;
        right: 0%;
    }


    .logo {
        height: 70px;
        width: 110px;

    }

    .menuDivs {
        height: 30px;
        z-index: 10;
        width: 30px;
        position: relative;
        /* background-color: aqua; */
        cursor: pointer;
    }

    .menuDivs h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 3px;
        background-color: black;
        width: 70%;
    }

    .menuDivs h1:nth-child(2) {
        transform: translate(-50%, -9px);
    }

    .menuDivs h1:nth-child(3) {
        transform: translate(-50%, 6px);
    }
}